<div class="content">
  <!-- Configuration Panel -->
  <div *ngIf="configurationToggle">
    <div class="infobar">
      <div class="infoline">
        <div class="pull-left">
          <span class="configuration">Configuration</span>
        </div>
        <div class="pull-right">
          <a  class="btn2" (click)="setConfigurationMode(false)"><span class="inbtn">Back</span></a>
        </div>
      </div>
    </div>

    <app-configuration-editor [analyzeMode]="moskitoAnalyzeMode"></app-configuration-editor>
  </div>

  <!-- Settings Panel -->
  <div *ngIf="settingsToggle">
    <div class="infobar">
      <div class="infoline">
        <div class="pull-left">
          <span class="configuration">Settings</span>
        </div>
        <div class="pull-right">
          <a  class="btn2" (click)="setSettingsMode(false)"><span class="inbtn">Back</span></a>
        </div>
      </div>
    </div>

    <app-configuration-viewer></app-configuration-viewer>
  </div>

  <!-- Regular header with applications list -->
  <div *ngIf="!settingsToggle && !configurationToggle">
    <div class="header">
      <ul class="applications-list">
        <li *ngFor="let app of applications" [class]="app.applicationColor | lowercase" [class.active]="!moskitoAnalyzeMode && moskitoApplicationService.currentApplication === app">
          <a (click)="setApplication(app)">
            {{ app.name }}
            <span class="status"></span>
          </a>
        </li>

        <!-- Tab for Moskito-Analyze -->
        <!--<li class="red" [class.active]="moskitoAnalyzeMode">-->
          <!--<a (click)="toggleMoskitoAnalyze()">-->
            <!--&gt;> Moskito Analyze <<-->
          <!--</a>-->
        <!--</li>-->
      </ul>

      <div class="pull-right">
        <a class="design-toggle" href="{{ moskitoApplicationService.getApplicationContextPath() + 'control/main' }}">
          Regular
        </a>
      </div>
    </div>

    <div class="infobar">
      <div class="infoline">
        <div class="pull-left">
          <app-timer #dataRefreshTimer timeInSeconds="180" [callback]="onDataRefresh"></app-timer>
        </div>
        <div class="pull-right">
          <app-notifications-configurator></app-notifications-configurator>

          <span class="vline"></span>

          <a class="btn2 space settings">
            <span class="inbtn" (click)="setConfigurationMode(true)"><i class="fa fa-code"></i>Configuration</span>
          </a>

          <a class="btn2 settings">
            <span class="inbtn" (click)="setSettingsMode(true)"><i class="fa fa-cog"></i>Settings</span>
          </a>
        </div>
      </div>
    </div>

    <div class="box-list" *ngIf="applicationDataLoaded && !moskitoAnalyzeMode">
      <app-tv-widget #tvWidget *ngIf="widgetService.isWidgetEnabled('tv')"></app-tv-widget>
      <app-components-widget #componentsWidget *ngIf="widgetService.isWidgetEnabled('status')"></app-components-widget>
      <app-beta-components-widget #betaComponentsWidget *ngIf="widgetService.isWidgetEnabled('statusBeta')"></app-beta-components-widget>
      <app-charts-widget #chartsWidget *ngIf="widgetService.isWidgetEnabled('charts')"></app-charts-widget>
      <app-history-widget #historyWidget *ngIf="widgetService.isWidgetEnabled('history')"></app-history-widget>
    </div>

    <div class="box-list" *ngIf="moskitoAnalyzeMode">
      <app-moskito-analyze></app-moskito-analyze>
    </div>
  </div>
</div>

<img src="//counter.moskito.org/counter/control/{{ moskitoApplicationService.version }}/main" class="ipix">
